<% wrap_layout :layout do %>
  <article class="post">
    <h1><%= current_article.title %></h1>

    <%= yield %>
  </article>

  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = 'eshiota';(function() { var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })();
  </script>
<% end %>