/*******************************************************************************
*
*  Layout » Grid
*
*  Contains all grid definitions.
*
*  100%
*  38.197%
*  14.589%
*   5.57256%
*   2.128550743%
*    .813042527%
*
*  http://www.cssstickyfooter.com/using-sticky-footer-code.html
*
*******************************************************************************/

.blog-wrapper {
  min-height: 100%;
}

.blog-main {
  @include clearfix;
  padding-bottom: 27em;
}

.blog-header {
  @include box-sizing(border-box);
  width: 38.197%;
  padding-top: 14.589vh;
  padding-left: 14.589%;
  padding-right: 5.57256%;
  float: left;
}

.blog-content {
  @include box-sizing(border-box);
  width: 61.803%;
  padding-top: 14.589vh;
  padding-left: 5.57256%;
  padding-right: 14.589%;
  float: right;
}

.blog-footer {
  @include box-sizing(border-box);
  width: 100%;
  clear: both;
  padding: 0 14.589%;
  position: relative;
  margin-top: -24em;
  height: 24em;
  overflow: hidden;
}
