/*********************************************************************
*
*  Base » Variables
*
*  All constants that will be used though the styles must be
*  defined here.
*
*********************************************************************/

$TEXT_COLOR           : #626262;
$LINK_COLOR           : #4cabdb;
$BACKGROUND_COLOR     : #fefefa;

$SELECTION_BACKGROUND : #4cabdb;
$SELECTION_COLOR      : #fff;

$CONTEXT_FONT_SIZE    : 16px;
$CONTEXT_SITE_WIDTH   : 915px;
