---
title: Dev in Sampa 2010
date: 2010-08-18 21:42 BRT
tags: Events
---

Depois do sucesso que o evento fez em 2009, era natural que em 2010 acontecesse a segunda edição do <a href="http://www.devinsampa.com.br" title="Visite o site oficial do evento">Dev in Sampa</a>, que reuniu profissionais da área de desenvolvimento, abrangendo assuntos como Agile, Testes, REST, arquitetura, mobile e até mesmo Arduino. Para abordar tantos temas, as palestras foram dividas em duas salas simultâneas: Desenvolvimento e Boas Práticas.

Como o <a href="http://twitter.com/chesterbr/status/21185084589" title="Veja o tweet do Chester">próprio Chester disse</a>, o melhor ponto do evento foi o clima profissional e, ao mesmo tempo, "caseiro". Por um lado, reuniu ótimas palestras, muitos profissionais experientes em diversas áreas, além de ter contado com o apoio técnico e logístico da Abril - que ofereceu espaço, um generoso coffee break e almoço cortesia no (para mim nostálgico e saudoso) refeitório. Por outro, diferente de grandes eventos, todos os participantes puderam estar muito próximos, trocando conhecimentos entre uma palestra e outra. Pude encontrar pessoalmente muitos @'s, reencontrar amigos e conhecer novas pessoas.

<%= post_image({
      :src => "http://farm5.static.flickr.com/4082/4890852831_ba486767a2_o.jpg",
      :full => "http://www.flickr.com/photos/devinsampa/4890852831/in/set-72157624615963355/",
      :alt => "Dev in Sampa 2010 - Auditório",
      :caption => "Palestra do @nuxlli no Dev in Sampa 2010. Flickr: devinsampa"
    })
%>

Além de tudo isso, tive o prazer e a honra de dar a palestra "O Design e a Interface no Mundo da Programação" - aliás, minha primeira palestra para um público geral. Nervosismo à parte, foi muito bom compartilhar um pouco do que vivi profissionalmente nos últimos anos, e todas as lições que aprendi com cada erro meu e dos times pelos quais passei. Já fazia um bom tempo que queria ajudar outros times a se comunicarem melhor e resolverem seus conflitos internos, e poder plantar esta semente nos participantes do Dev in Sampa foi extremamente gratificante! Muitas pessoas vieram falar comigo depois, e pelas conversas e tweets vi que é um problema recorrente e que precisa ser combatido.

<%= post_image({
      :src => "http://farm5.static.flickr.com/4101/4891129007_d00cdddb3c_o.jpg",
      :full => "http://www.flickr.com/photos/devinsampa/4891129007/in/set-72157624599610575/",
      :alt => "Dev in Sampa 2010 - Minha palestra",
      :caption => "Minha palestra no Dev in Sampa 2010. Flickr: devinsampa"
    })
%>

No fim, rever velhos co-workers, conhecer novas pessoas, ver boas palestras e passar uma boa mensagem valeu o dia.

Quero agradecer a toda a organização do Dev in Sampa pelo espaço disponibilizado, a todas as pessoas presentes na palestra, e a todos que deram um feedback mesmo sem estarem por lá. Quem quiser acessar e baixar os slides da minha palestra, podem <a href="http://www.slideshare.net/eshiota/o-design-e-a-interface-no-mundo-da-programao" title="Veja minha apresentação no Slideshare">fazê-lo no SlideShare</a>. Em breve, os vídeos das palestras devem estar no ar também.

E para quem gostou da apresentação, fica a dica: apresentem-na aos seus chefes e às suas equipes, promovam Tech talks sobre o assunto, repassem a mensagem! ;D

_Update: Os vídeos das palestras já estão no ar! Minha palestra pode ser <a href="http://devinsampa.blip.tv/file/4035825/" title="Assista à minha palestra no Blip.tv">vista aqui</a>!_

<figure class="post-media">
  <iframe src="http://www.slideshare.net/slideshow/embed_code/4970794?rel=0" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"> </iframe>
  <figcaption class="caption">
    Slides: O Design e a Interface no mundo da Programação
  </figcaption>
</figure>

**Leia mais:**

* [Dev in Sampa 2010](http://www.devinsampa.com.br "Veja o site oficial do evento")
* [Fotos do evento no Flickr](http://www.flickr.com/photos/devinsampa/ "Veja as fotos do Dev in Sampa no Flickr")
* [Apresentação: "O Design e a Interface no Mundo da Programação" no Slideshare](http://www.slideshare.net/eshiota/o-design-e-a-interface-no-mundo-da-programao "Veja minha apresentação no Slideshare")
* [Blog do Chester: Dev in Sampa 2010](http://chester.blog.br/archives/2010/08/dev-in-sampa-2010.html "Veja o post Dev in Sampa 2010 no Blog do Chester")
* [Vídeos das palestras](http://devinsampa.blip.tv/posts?view=archive&amp;nsfw=dc "Vídeos das palestras do Dev in Sampa 2010")
