---
title: An Event Apart 2010 e a Morte da Web
date: 2010-10-05 17:29 BRT
tags: Events
---

Olhe por um momento para os últimos 10 anos que se passaram, e responda a pergunta: o que mudou?

As respostas são incontáveis: a presidência dos Estados Unidos passou de Clinton, para Bush, para Obama. Michael Jackson se foi. A conscientização ambiental cresceu, assim como o óleo nos oceanos graças à BP. A África do Sul sediou sua primeira Copa do Mundo, o Brasil foi de FHC para Lula, o WTC caiu e Saddam Hussein morreu.

Na tecnologia, o Windows 98 SE foi para Windows 7, o Ubuntu popularizou o Linux, e o Mac OS X ampliou sua massa de usuários. O mundo mobile explodiu com o iPhone. O web design ganhou importância, as redes sociais surgiram e a rich media chegou às massas pelo YouTube. Google nasceu e virou deus da Internet, a Apple ganhou uma igreja de seguidores fanáticos e uma legião de inimigos. O Flash nasceu, virou símbolo do futuro, e hoje é apedrejado pelos padrões do HTML5. A web virou 2.0, e depois perceberam o quanto é ridículo ela ter uma versão. <a href="http://www.wired.com/magazine/2010/08/ff_webrip/all/1" title="Wired: The Web is Dead. Long Live the Internet">A web está morta. Longa vida à Internet.</a> Mas ela vai ressucitar, assim que perceberem o quanto é ridículo ela ter uma morte.

E foi justamente relembrando as mudanças tecnológicas do mundo, que Jeffrey Zeldman introduziu e Jeff Veen concluiu brilhantemente o An Event Apart 2010.

## Um evento à parte

O nome do evento é autoexplicativo. Estive em muitos eventos de tecnologia e web no Brasil, e acompanhei alguns do exterior, e o An Event Apart foi de longe o que mais teve influência em minha carreira. Estive na <a href="http://www.aneventapart.com/events/2008/chicago/" title="An Event Apart 2008 - Chicago">edição de 2008</a> em Chicago, e saí com a mente renovada de idéias. Este ano não foi diferente. Em todo momento, sua mente é bombardeada por novas inspirações, técnicas e informações. Os palestrantes são geniais. Os slides são coesos, bem pensados e bem executados. As apresentações são impecáveis e hipnóticas.

Em 2010 as tecnologias e os conceitos da web deram um avanço colossal, então, para a edição deste ano, nada mais apropriado do que uma abertura contando a história da Internet. <a href="http://www.zeldman.com/" title="zeldman.com">Jeffrey Zeldman</a> conduziu os participantes a uma breve retrospectiva desde 1452 – invenção da imprensa por Gutenberg – à interação ubíqua com a Internet que vivenciamos hoje.

<%= post_image({
      :src => "http://farm5.static.flickr.com/4084/4831456078_f9e6c3b4d9.jpg",
      :full => "http://www.flickr.com/photos/superpope/4831456078/",
      :alt => "Jeffrey Zeldman no AEA Minneapolis 2010",
      :caption => "Jeffrey Zeldman no AEA Minneapolis 2010"
    })
%>

As outras 10 palestras que ocorreram nos dois dias foram consistentes, e algumas surpreendentemente contraditórias em um ótimo sentido: mostraram diferentes visões sobre temas similares. Quem trabalha com web, seja designer, programador de sistema, programador de interface ou até mesmo enterpeneur, pôde ficar satisfeito. Os gurus de interface <a href="http://meyerweb.com/" title="meyerweb.com">Eric Meyer</a>, <a href="http://www.stubbornella.org" title="stubbornella.org">Nicole Sullivan</a>, <a href="http://simplebits.com" title="simplebits.com">Dan Cederholm</a> e <a href="http://www.stuffandnonsense.co.uk" title="stuffandnonsense.co.uk">Andy Clarke</a> mostraram as técnicas mais atuais para aproveitar as últimas tecnologias de HTML e CSS. <a href="http://www.lukew.com" title="lukew.com">Luke Wroblewski</a> e <a href="http://unstoppablerobotninja.com" title="unstoppablerobotninja.com">Ethan Marcotte</a> provaram que não podemos pensar mais em um monitor de computador como único substrato, sendo que iPhones, Androids e iPads são todos capazes de acessar a Internet onde quer que estejamos. <a href="http://www.braintraffic.com" title="braintraffic.com">Kristina Halvorson</a>, <a href="http://www.uie.com" title="uie.com">Jared Spool</a>, <a href="http://adactio.com" title="adactio.com">Jeremy Keith</a> e <a href="http://aarronwalter.com" title="aarronwalter.com">Aarron Walter</a> ensinaram que o ser humano não é uma máquina, um objeto, e precisa se sentir amado – e nossas interfaces devem refletir esse desejo.

E finalizando um espetacular evento, <a href="http://veen.com/jeff" title="veen.com/jeff">Jeff Veen</a>, de uma maneira emocionante, mostrou como a web funciona, como usufruímos dela, e porque dizer que ela está morta é uma imensa besteira. No fim, os aplausos e tweets emocionados falaram por si.

<%= post_image({
      :src => "http://farm5.static.flickr.com/4085/4835896514_2f85122fa1.jpg",
      :full => "http://www.flickr.com/photos/localcelebrity/4835896514/",
      :alt => "Jeff Veen no AEA Minneapolis 2010",
      :caption => "Jeff Veen no AEA Minneapolis 2010"
    })
%>

## The web is not dead. Long live the web.

Um dos últimos slides do Veen foi a famosa e controversa capa da Wired de setembro. Com um fundo vermelho e letras gigantescas, a revista afirma: "The Web is dead". A matéria principal foi assunto e alvo de muita discussão e argumentação na Internet, alguns concordando em partes, muitos discordando totalmente.

<%= post_image({
      :src => "wired.png",
      :full => "http://www.wired.com/magazine/2010/08/ff_webrip/all/1",
      :alt => "Capa da Wired: The Web is Dead",
      :caption => "Capa da edição de setembro da Wired"
    })
%>

E Jeff, pedindo desculpas à editora (antiga empregadora sua), declarou que não poderia discordar mais em relação ao que foi escrito.

Chris Anderson e Michael Wolff afirmam que a Web como conhecemos morreu. Segundo eles, num futuro próximo os navegadores deixarão de existir, assim como os websites, e o conteúdo passará a ser consumido por aplicativos e interfaces agregadoras, e a Internet será provedora de interfaces de comunicação (APIs) para que haja esse consumo. Os web apps – aplicativos online como Google Docs e Gmail, as redes sociais – Facebook, Orkut, Twitter – e sites de conteúdo especializado – como o IMDb ou a Wikipedia – deixarão de existir como websites, passando a oferecer seu conteúdo por meio de clientes externos, como aplicativos de iPhone, por exemplo. Para eles, o HTML é uma linguagem ultrapassada.

A principal mensagem do An Event Apart, ao contar a história da Internet e ao colocar as últimas tecnologias em foco, é a de que... não, a Web não está morta. Dizer que o futuro está no acesso fechado – por meio de aplicativos, redes privadas – e que o HTML está morrendo não faz o menor sentido. O ano de 2010 e a explosão do acesso mobile à Web por meio de navegadores Webkit fizeram com que o HTML5 e CSS3 recebessem a devida atenção que merecem.

São tecnologias acessíveis: as tags semânticas tornam os documentos mais completos e significativos, o CSS3, com suas animações, transformações e seletores, tira a carga de processamento que outrora era do JavaScript, tornando páginas completas funcionais em dispositivos móveis. São tecnologias prontas para serem utilizadas: apesar da previsão do HTML5 ser uma <a href="http://wiki.whatwg.org/wiki/FAQ#When_will_HTML5_be_finished.3F" title="WHATWG Wiki - FAQ">"Candidate Recommendation" em 2012</a> e uma recomendação oficial apenas em 2022, os navegadores mais recentes (Chrome, Safari, Firefox, Opera, Internet Explorer 9) já estão o implementando de maneira consistente. Muitos módulos do CSS3 já estão sendo implementados por meio dos "vendor prefixes". Usando técnicas como <em>graceful degradation</em> e <em>progressive enhancement</em>, é possível desenvolver páginas acessíveis a navegadores mais velhos, porém com melhor visual e experiência nos mais novos. Utilizando CSS3 Media Queries, é possível fazer um <em>responsive design</em>, que se adapta ao usuário – esteja ele em um desktop, em um smartphone ou em um tablet.

As novas tecnologias estão prontas para deixar a Internet mais acessível, através de uma Web mais aberta. Hoje, é possível que um usuário possa ter uma experiência igualmente satisfatória em um desktop, em um celular ou em uma tablet. A Web não morreu; ela só está começando de verdade. Basta construí-la da maneira certa.
