---
title: Dev in Sampa 2011 - UX for Developers
date: 2011-08-31 17:15 BRT
tags: Events, User Experience
---

<p>Following the tradition, this year&#8217;s <a href="http://www.devinsampa.com.br">Dev in Sampa</a>, event promoted by <a href="http://twitter.com/tinogomes">@tinogomes</a>, <a href="http://twitter.com/nuxlli">@nuxlli</a> and <a href="http://twitter.com/lfcipriani">@lfcipriani</a>, brought us high quality geeky presentations, ranging from <a href="http://twitter.com/lucashungaro">@lucashungaro</a>&#8216;s <a href="http://blip.tv/dev-in-sampa/devinsampa-2011-solid-através-de-bdd-um-guia-para-rubistas-lucas-húngaro-5509248">practical SOLID approach</a>, to <a href="http://twitter.com/chesterbr">@chesterbr</a>&#8216;s mind blowing <a href="http://www.slideshare.net/chesterbr/programao-para-atari-2600">&#8220;Atari 2600 Development&#8221; presentation</a>. And in between, great food, great conversations, and the chance to meet new people and old friends.</p>

<figure class="post-media">
  <a href="6095004992_bfcb910392_o-1024x680.jpg">
    <img src="6095004992_bfcb910392_o-1024x680.jpg" width="1024" height="680" />
  </a>
  <figcaption class="caption">
    My presentation @ Dev in Sampa 2011. Original: http://www.flickr.com/photos/devinsampa/6095004992/in/photostream
  </figcaption>
</figure>

<p>My presentation was, like last year, far away from the other presentations themes. While everyone talked about programming and hacking — like <a href="http://twitter.com/qmx">@qmx</a> about <a href="http://cdn.qmx.me/presentations/2011/devinsampa/index.html">VM Design</a>, <a href="http://twitter.com/renatoelias">@renatoelias</a> about <a href="http://blip.tv/dev-in-sampa/devinsampa-2011-tomando-o-controle-de-seus-eventos-renato-elias-5508217">event-driven programming</a>, <a href="http://twitter.com/wcolen">@wcolen</a> and <a href="http://twitter.com/wseidel">@wseidel</a> about <a href="http://blip.tv/dev-in-sampa/devinsampa-2011-processamento-automático-da-l%C3%ADngua-portuguesa-wesley-e-willian-5509940">language processing</a>, or even<a href="http://twitter.com/klauswuestefeld"> @klauswuestefeld</a> about Sovereign Computing — I decided to step away from the code, and talk about&#8230; the user. My whole presentation may be defined in one single quote:</p>

<blockquote><p>The user is NOT stupid. YOU are the one who&#8217;s too cocky. #thereIsaidIt</p></blockquote>

<p>If you are interested in watching the whole presentation (and you know pt-BR or are willing to translate the whole content =]), here is <a href="http://blip.tv/dev-in-sampa/devinsampa-2011-user-experience-para-developers-eduardo-shiota-yasuda-5511204" title="View video on Blip.tv">the video</a>:</p>

<figure class="post-media">
  <iframe src="http://blip.tv/play/AYLQsQgC.html" width="550" height="339" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

<p>And here are <a href="http://www.slideshare.net/eshiota/user-experience-para-developers-dev-in-sampa-2011" title="Go to Slideshare">the slides</a>:</p>

<figure class="post-media">
  <iframe src="http://www.slideshare.net/slideshow/embed_code/9037076" width="550" height="339" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"> </iframe>
</figure>

<p>And I recommend watching every other Dev in Sampa presentation, specially Chester&#8217;s Atari 2600 one: you&#8217;ll never complain about today&#8217;s languages again. =]</p>

<p>You can see more photos of the event here: <a href="http://www.flickr.com/photos/devinsampa">http://www.flickr.com/photos/devinsampa</a></p>

<p><em><strong>Update:</strong> You may find the reference links here <a href="https://gist.github.com/1341694">https://gist.github.com/1341694</a></em></p>
