---
title: A agenda de Benjamin Franklin e a sociedade moderna
date: 2011-03-22 15:51 BRT
tags: Productivity
---

O Lifehacker <a href="http://lifehacker.com/#!5783790/how-does-your-daily-routine-compare-to-ben-franklins">postou uma página</a> do que aparenta ser a autobiografia de Benjamin Franklin. Nela, a agenda do famoso cientista/político/inventor/etc. demonstra a simplicidade de sua rotina.

<%= post_image({
      :src => "benjamin_franklin_agenda.jpeg",
      :full => "http://www.flickr.com/photos/nickbilton/3779169741/",
      :alt => "Agenda diária de Benjamin Franklin",
      :caption => "Agenda diária de Benjamin Franklin"
    })
%>

Minha reação inicial de incredulidade me fez contar as horas dedicadas a cada tarefa. E de fato, ele parece conseguir (1) trabalhar 8 horas por dia; (2) dormir 7 horas por noite; (3) ter 2 horas de almoço/pausa e; (4) ter 7 horas para cuidados básicos, se planejar, ler ou – pasmem – se divertir. O resultado dessas horas pode ser visto <a href="http://en.wikipedia.org/wiki/Ben_franklin">aqui</a>, ou mesmo no fato de seu semblante ilustrar a <a href="http://en.wikipedia.org/wiki/United_States_one_hundred-dollar_bill">nota de 100 dólares</a> nos Estados Unidos.

Agora pare e analise o seu próprio dia: você trabalha, de fato, somente 8 horas por dia? E nessas 8 horas você, de fato, só trabalha? Você pode se dar ao luxo de almoçar e ler por 2 horas? Essas 7 horas de sono parecem utópicas? E as outras 7 horas de vida pessoal?

Benjamin – ao que aparenta – tinha todo esse tempo, e graças a isso pôde realizar grandes contribuições à Ciência e à política norte-americana.

Eu – revendo meu dia – gasto no mínimo 1 hora e meia no trânsito, durmo entre 5 e 6 horas por noite, tenho 1 hora de almoço, quase não tomo café da manhã, e ainda assim reclamo da falta de tempo. Não leio um livro inteiro há meses. Tenho projetos na cabeça que dificilmente verão a luz <del>do dia</del> da Internet. Como muitos, sonho em vender coco na praia.

Mas, em contrapartida, dou risada de memes non-sense no <a href="http://fuckyeahdementia.com/">fuck yeah dementia!!1!</a>, e ocasionalmente mato alienígenas virtualmente. Leio e escrevo dezenas de reclamações e comentários aleatórios no Twitter. Espio as felicidades e frustrações alheias no Facebook. <a href="http://en.wikipedia.org/wiki/Angry_Birds">Atiro pássaros em porcos usando um estilingue</a>. E sem agendar tempo para isso.

Aposto que Ben Franklin me invejaria.
