<div class="section-content">
  <h2 class="about-title">About Us</h2>

  <div class="about-description">
    <p>Our Norwegian roots have made us lovers of simplicity, beauty and quality.
    Oslo baby products serve one purpose, to provide the very best
    for your little one.</p>

    <p>Our products are designed to keep babies comfortable while ensuring mom
    and dad look good in the process. Oslo products are sold through exclusive
    retailers who share our vision of making the world more accessible and
    comfortable for the smallest among us.</p>
  </div>
</div>
