<div class="section-content">
  <div class="contact-description">
    <h2 class="contact-title">Contact</h2>

    <p>
      <a href="mailto:customerservice@oslobabygear.com" title="Send us an email">
        customerservice@oslobabygear.com
      </a>
    </p>
  </div>
</div>
