<header class="site-header">
  <h1 class="brand">
    <a href="/" title="Go back to homepage">Oslo Baby Gear</a>
  </h1>

  <nav class="site-menu">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
