<div class="highlight-section">
  <div class="section-content">
    <h2 class="main-title">Baby Gear <em>Norwegian Inspired</em></h2>

    <figure class="main-product">
      <%= image_tag "hemlokk.png", :alt => "Nome do carrinho" %>
    </figure>
  </div>
</div>
