---
title: About « eshiota.com
---

<article class="about">
  <h1>About</h1>

  <p><strong>Eduardo Shiota Yasuda</strong> was born in <strong>October 18 1985</strong>, and his email is <a href="mailto:contato@eshiota.com" title="Open your favorite email client and drop me a line">contato@eshiota.com</a>. You may read his <a href="/public/cv_eduardo_shiota_yasuda.pdf">CV in PDF</a>.</p>

  <p>Studied <strong>Computer Science</strong> at USP for two years, but quit because he thought life was more human than that. Decided to study <strong>Graphic Design</strong> at Centro Universitario Senac, and finally got his B.A. Nowadays, he does both things.</p>

  <p>As a programmer, believes that <strong>code should be clean, elegant, optimized and readable</strong> to other developers. As a designer, likes <strong>well structured information, clean and clear layouts</strong>, and is a Swiss Design adept. As a front-end developer, believes in <strong>semantic documents, near-hackless CSS</strong>, loves <strong>JavaScript and its good parts</strong>, and loves <strong>Front-end Modular Architectures</strong>.</p>

  <p>Occasionaly, <strong>speaks at some events and companies</strong> about Front-end Architecture, and User Experience. Has spoken at RubyConf, QCon, The Developers Conference, Congresso E-Commerce Brasil, Tableless Conf, Dev in Sampa, OlhóSEO, Dev in Vale, and PechaKucha Night São Paulo.</p>

  <p>He is <strong>fluent in English</strong> and knows a little bit of Japanese.</p>

  <p>Loves to cook, plays the piano in his free time, photographs whenever he can, and hates parsley.</p>

  <p>You may visit <a href="http://www.linkedin.com/in/eshiota" title="Visit my LinkedIn profile">his LinkedIn</a> for recommendations and more information, visit <a href="https://github.com/eshiota" title="Visit my Github profile">his Github</a> to check his commits and code styles, or visit <a href="https://twitter.com/eshiota" title="Visit my Twitter profile">his Twitter</a> for cool links and random thoughts.</p>
</article>