<h1 class="section-title">Blog</h1>

<ul class="posts-list">
  <% page_articles.each_with_index do |article, i| %>
    <li class="posts-list-item">
      <time><%= article.date.strftime("%d.%m.%Y") %></time>
      <%= link_to article.title, article, :class => "post-link" %>
    </li>
  <% end %>
</ul>
